.img_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    color: var(--orange);
    background-color: hsl(211, 19%, 24%);
    width: fit-content;
    padding: 0.8rem 1.2rem;
    margin: 1.5rem auto;
    border-radius: 25px;
}

.title , p{
    text-align: center;
}